
:root{
    --bgprimarycolor:#fbf0d5;
    --bgcontentprimarycolor:#FDF7E4;
    --bgcontentprimarycolor2:#ffebc6;
    --bgcontentprimary:#ffd992;
}
.primary-sections{
    background-color: var(--bgprimarycolor);
}
.primarysection1{
    background-color: var(--bgcontentprimarycolor);
}
.primarysection2{
    background-color: var(--bgcontentprimarycolor);
}
.primary-card{
    background-color: var(--bgcontentprimarycolor2);
}
.cart-button{
  background-color: white;
}
.cart-button:hover{
  background-color: #fff3de;
}

.productname{
  font-size: 1.3vw;
}
.prodcut-price{
    font-size: 0.9vw;
}
@media (max-width:640px){
  .prodcut-price{
         font-size: 1.7vw;
  }
  .productname{
    font-size: 2.5vw;
  }
  .card-book{
    width: 80%;
  }
}
.card-book{
  width: 33%;
  background-color: aqua;
}
@media (min-width:1042px){
  .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media ((min-width:640px) and (max-width:1041px)){
  .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}